
    /* poppins-500 - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        src: local('Poppins Medium'), local('Poppins-Medium'),
        url('../fonts/poppins-v9-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v9-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* poppins-italic - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        src: local('Poppins Italic'), local('Poppins-Italic'),
        url('../fonts/poppins-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* poppins-600 - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
        url('../fonts/poppins-v9-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v9-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }








    body {
        font-family: 'Poppins';
        font-style: normal;
        /*font-size: 16px;*/
        font-weight: normal;
        line-height: 1.2;
        color: #222222;
    }


    h1 {
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 64px;
    }










    .header {
        height: 125px;
        position: fixed;
        width: 100%;
        top:0;
        left: 0;
        z-index: 999;
    }


    .wrapper {
        max-width: 1060px;
        margin: 0 auto;
        padding: 0 126px;

    }


    .header__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 56px;
        margin-bottom: 218px;
    }

    .header__logo {
        display: flex;
        align-self: center;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 29px;
    }



   /*//nav start*/

    .header__list {
        display: flex;
        flex-wrap: wrap;

    }

    .header__item {
        margin-right: 24px;

    }

    .header__item:last-child {
        margin-right: 0;
    }

    .header__link {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: black;
        text-decoration: none;

    }

    .header__nav-close {
        display: none;
    }

   /*//nav end*/



    .main {
        background: url(../img/first-bg.jpg) no-repeat center;
        background-size: cover;

    }

    .main2 {
        background: url(../img/second-bg.jpg) no-repeat center;
        background-size: cover;
    }

    .intro {
        min-height: 160vh;
        background-size: cover;
        padding-top: 263px;
        box-sizing: content-box;


    }

    .intro__title {
        font-weight: bold;
        font-size: 64px;
        line-height: 77px;
        color: black;
        max-width: 619px;
        margin-bottom: 22px;
    }


    .intro__subtitle1 {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: black;
        max-width: 546px;
        margin-bottom: 16px;
        margin-top: 40px;
    }

    .intro__subtitle2 {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: black;
        max-width: 546px;
        margin-bottom: 37px;
    }

    .intro__links {
        display: flex;
    }

    .btn-donate {
        background: rgba(253, 180, 97, 0.82);
        color: rgba(62, 34, 3, 0.82);
        padding: 1rem 1.5rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 8px; /* Скругляем уголки */
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;




    }
    .btn-more {
        display: inline-block; /* Строчно-блочный элемент */
        background:white;
        color: rgba(62, 34, 3, 0.82);
        padding: 1rem 1.5rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 8px; /* Скругляем уголки */
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        border: 2px solid rgba(62, 34, 3, 0.82);
        margin-left: 24px;

    }


    .info-animals {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 75px;
        align-items: center;
        color: rgba(255, 255, 255, 0.9);


    }

    .info-animals__more {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        padding-right: 59px;
        transition: .2s all;
        margin-bottom: 111px;
        color: rgba(253, 180, 97, 0.82);
        text-decoration: rgba(253, 180, 97, 0.82);

    }

    .white-desc {
        color: rgba(255, 255, 255, 0.9);
    }

    .pets {
        max-width: 100%;
        height: auto;
    }


    .info-animals__description-info {
        margin-bottom: 122px;
    }



    .info-animals__comments {
        display: flex;
        margin-bottom: 40px;
    }
    .comment {
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;

        color: rgba(255, 255, 255, 0.9);

    }

    .info-animals__comments-icon {
        margin-right: 20px;
    }

    .name-commentator {
        margin-top: 19px;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;

        color: rgba(255, 255, 255, 0.6);
    }


    .mariposa-mobile {
        display: none;
    }

    .header_active {
        background: #dedee0fc;

    }

    /*BURGER*/


    .header__burger {
        width:40px;
        height: 28px;
        position: relative;
        display: none;
        top: -31px;
        left: -36px;

    }

    .burger__line {
        display: block;
        width: 100%;
        height: 2px ;
        background-color: #FFFFFF;
        position: absolute;
        left: 0;
    }

    .burger__line_first {
        top: 0;
    }

    .burger__line_second {
        top: 25%;
        transform: translateY(-50%);

    }

    .burger__line_third {
        bottom: 50%;
    }




    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 28px;
        left: 11px;
        z-index: 11;
    }

    .header__nav-close-line {
        display: block;
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: white;
    }


    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }




/*//////////////////!*MEDIA*!//////////////////////////////*/
    @media screen and (max-width: 1101px) {


        .wrapper {
            max-width: 1060px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .header__logo {
            display: none;
        }


        .header__link {
            color: white;
            /*font-style: normal;*/
            /*font-weight: normal;*/
            /*font-size: 14px;*/
            /*line-height: 29px;*/
        }


        .intro {
            min-height: 113vh;
            padding-top: 10px;
        }

        .intro__title {
            font-size: 47px;
            line-height: 54px;
        }

        .intro__subtitle1 .intro__subtitle2 {
            font-size: 30px;
            line-height: 37px;
        }
        .info-animals__pic {
        grid-column: span 2;
        text-align: center;
    }

        .info-animals__description {
            grid-column: span 2;
            text-align: -webkit-center;
        }


        /*MARIPOSA*/


        .mariposa-mobile {
            background: url(../img/mariposa.jpg) no-repeat center;
            margin: 0 auto;
            padding: 0 20px;
            height: 310px;
            background-size: cover;
            display: block;
        }


        .mariposa-mobile__title {
            font-family: Inter;
            font-style: normal;
            font-weight: 900;
            font-size: 35px;
            line-height: 52px;
            color: rgba(255, 255, 255, 0.9);
            mix-blend-mode: normal;
            padding-top: 135px;
        }
        .mariposa-mobile__desc {
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            color: rgba(255, 255, 255, 0.9);

        }
        /*MARIPOSA END*/

        /* MENU*/

        .header {
            height: 60px;
        }

        .header__nav-close {
            display: block;
            z-index: 1000;
        }



        .header__burger {
            display: block;
        }

        .header__nav {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 10;
            padding: 75px;
            transform: translateX(100%);
            transition: .2s all linear;
        }


        .header__nav_active {
            transform: translateX(0);
        }

        .header__item {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }

        .header__item:last-child {
            margin-bottom: 0;
        }

        /*.header__link  {*/
        /*    font-size: 42px;*/
        /*    line-height: 48px;*/

        /*}*/

        .header__nav-close {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1000;
        }

        .header__nav-close-line {
            display: block;
            height: 2px;
            width: 100%;
            position: absolute;
            background-color: white;
            z-index: 1000;
        }


        .header__nav-close-line:first-child {
            transform: translateY(-50%) rotate(45deg);
        }

        .header__nav-close-line:last-child {
            transform: translateY(-50%) rotate(-45deg);
        }

    }

    @media screen and (max-height: 657px) {
        .header__item {
            margin-bottom: 12px;
        }


    }



    @media screen and (max-height: 376px) {
        .btn-more {
            padding: 1rem 0.5rem;
        }

    }