
    .header {
        position: fixed;
        width: 100%;
        top:0;
        left: 0;
        z-index: 999;
    }


    .wrapper {
        max-width: 1060px;
        margin: 0 auto;
        padding: 0 126px;

    }


    .header__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 56px;
        margin-bottom: 218px;
    }

    .header__logo {
        display: flex;
        align-self: center;
    }



   /*//nav start*/

    .header__list {
        display: flex;
        flex-wrap: wrap;

    }

    .header__item {
        margin-right: 24px;

    }

    .header__item:last-child {
        margin-right: 0;
    }

    .header__link {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: black;
        text-decoration: none;

    }

   /*//nav end*/



    .main {
        background: url(../img/first-bg.jpg) no-repeat center;
        background-size: cover;

    }

    .main2 {
        background: url(../img/second-bg.jpg) no-repeat center;
        background-size: cover;
    }

    .intro {
        min-height: 160vh;
        background-size: cover;
        padding-top: 263px;
        box-sizing: content-box;


    }

    .intro__title {
        font-weight: bold;
        font-size: 72px;
        line-height: 86px;
        color: black;
        max-width: 619px;
        margin-bottom: 22px;
    }


    .intro__subtitle1 {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: black;
        max-width: 546px;
        margin-bottom: 16px;
        margin-top: 40px;
    }

    .intro__subtitle2 {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: black;
        max-width: 546px;
        margin-bottom: 37px;
    }

    .intro__links {
        display: flex;
    }

    .btn-donate {
        background: rgba(253, 180, 97, 0.82);
        color: rgba(62, 34, 3, 0.82);
        padding: 1rem 1.5rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 8px; /* Скругляем уголки */
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;




    }
    .btn-more {
        display: inline-block; /* Строчно-блочный элемент */
        background:white;
        color: rgba(62, 34, 3, 0.82);
        padding: 1rem 1.5rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 8px; /* Скругляем уголки */
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        border: 2px solid rgba(62, 34, 3, 0.82);
        margin-left: 24px;

    }


    .info-animals {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 75px;
        align-items: center;
        color: rgba(255, 255, 255, 0.9);


    }

    .info-animals__more {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        padding-right: 59px;
        transition: .2s all;
        margin-bottom: 111px;
        color: rgba(253, 180, 97, 0.82);
        text-decoration: rgba(253, 180, 97, 0.82);

    }

    .white-desc {
        color: rgba(255, 255, 255, 0.9);
    }

    .pets {
        max-width: 100%;
        height: auto;
    }


    .info-animals__description-info {
        margin-bottom: 122px;
    }



    .info-animals__comments {
        display: flex;
        margin-bottom: 40px;
    }
    .comment {
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;

        color: rgba(255, 255, 255, 0.9);

    }

    .info-animals__comments-icon {
        margin-right: 20px;
    }

    .name-commentator {
        margin-top: 19px;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;

        color: rgba(255, 255, 255, 0.6);
    }



/*//////////////////!*MEDIA*!//////////////////////////////*/
    @media screen and (max-width: 950px) {
        .wrapper {
            max-width: 1060px;
            margin: 0 auto;
            padding: 0 20px;
        }


        .header__nav {
            display: none;
        }

        .intro {
            min-height: 113vh;
            padding-top: 10px;
        }

        .intro__title {
            font-size: 47px;
            line-height: 54px;
        }

        .intro__subtitle1 .intro__subtitle2 {
            font-size: 30px;
            line-height: 37px;
        }
        .info-animals__pic {
        grid-column: span 2;
        text-align: center;
    }

        .info-animals__description {
            grid-column: span 2;
            text-align: -webkit-center;
        }


    }